:root{
    --clr-primary: rgb(54,112,199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99,36,36);
}

*,
*::before,
*::after{
    font-family: inherit;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    grid: "header header header header" auto "...... lists active ......" auto / 1fr minmax(100px,300px) minmax(250px,500px) 1fr;
}

.title{
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(0, 0, 0,0.2);
    letter-spacing: 2px;
    margin: -0.3em 0 0.5em;
}

.allTasks{
    grid-area: lists;
}

.taskList{
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

.listName{
    cursor: pointer;
}

.listName:hover{
    opacity: 0.7;
}

form{
    display: flex;
}

.btn{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}

.btn.create{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25rem;
    transition: opacity 250ms ease-in;
}

.btn.create:hover{
    opacity: 0.7;
}

.btn.delete{
    opacity: 0.7;
    font-size: 1rem;
    transition: color 200ms;
}

.btn.delete:hover{
    color:var(--clr-warning)
}

.new{
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
    transition: border-bottom 150ms ease-in;
    order: 2;
}

.new::placeholder{
    color: inherit;
    opacity: 0.4;
}

.new:focus{
    border-bottom-width: 2px;
}

.new:focus::placeholder{
    opacity: 0.15;
}

.new.list{
    font-size: 1.1rem;
}

.new.task{
    margin-bottom: 0;
}

.activeList{
    font-weight: 700;
}

.todoList{
    --spacer: 2rem;
    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-dark);
}

.todoHeader{
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listTitle{
    margin: 0 1rem 0 0;
}

.taskCount{
    margin: 0;
    font-size: 1rem;
}

.todoBody{
    padding: var(--spacer);
    position: relative;
}

[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

.newTaskCreator .create{
    color: var(--clr-primary);
}

.task label{
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;
}

.task{
    position: relative;
    margin-bottom: 1.25em;
}

.task::after{
    content:"";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
}

.customCheckbox{
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: trasform 300ms ease-in-out;
}

.task:hover .customCheckbox,
[type="checkbox"]:focus + label .customCheckbox{
    transform: scale(1.2);
    color: var(--clr-primary);
}

[type="checkbox"]:checked + label .customCheckbox{
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0px 2px white;
}

[type="checkbox"]:checked + label{
    opacity: 0.5;
}

.task label::after{
    content: "";
    position: absolute;
    left: 1.5em;
    right: 0;
    top: 50%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in-out;
}

[type="checkbox"]:checked + label::after{
    transform: scaleX(1);
    transform-origin: left;
}

.deleteStuff{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: var(--clr-light);
}

@media screen and (max-width:768px){
    body{
        margin: 0;
        padding: 0;
        font-weight: 300;
        font-size: 1.5rem;
        display: grid;
        grid: "header" auto "lists" auto "active" auto;
        gap: 0;
    }

    .title{
        grid-area: header;
        padding: 0;
        margin: 0;
    }

    .allTasks{
        grid-area: lists;
        padding: 0 2% 25px 2%;
    }

    .todoList{
        grid-area: active;
    }

    .todoHeader{
        justify-content: space-between;
        padding: 25px 2%;
    }

    .listTitle{
        padding: 0;
    }

    .todoBody{
        padding: 20px 2%;
    }

    .task{
        margin-bottom: 0;
    }

    .btn.delete{
        margin-bottom: 10px;
    }

}